<div>
    <h2 data-translate="appApp.musico.home.title">Musicos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="musico.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="appApp.musico.home.createLabel">
                        Create new Musico
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="appApp.musico.nombre">Nombre</span></th>
                    <th><span data-translate="appApp.musico.fechaNacimiento">Fecha Nacimiento</span></th>
                    <th><span data-translate="appApp.musico.descripcion">Descripcion</span></th>
                    <th><span data-translate="appApp.musico.foto">Foto</span></th>
                    <th><span data-translate="appApp.musico.banda">Banda</span></th>
                    <th><span data-translate="appApp.musico.pais">Pais</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="musico in vm.musicos track by musico.id">
                    <td><a ui-sref="musico-detail({id:musico.id})">{{musico.id}}</a></td>
                    <td>{{musico.nombre}}</td>
                        <td>{{musico.fechaNacimiento | date:'mediumDate'}}</td>
                    <td>{{musico.descripcion}}</td>
                    <td>
                        <a ng-if="musico.foto" ng-click="vm.openFile(musico.fotoContentType, musico.foto)">
                            <img data-ng-src="{{'data:' + musico.fotoContentType + ';base64,' + musico.foto}}" style="max-height: 30px;" alt="musico image"/>
                        </a>
                        <span ng-if="musico.foto">{{musico.fotoContentType}}, {{vm.byteSize(musico.foto)}}</span>
                    </td>
                    <td>
                        <a ui-sref="banda-detail({id:musico.banda.id})">{{musico.banda.nombre}}</a>
                    </td>
                    <td>
                        <a ui-sref="pais-detail({id:musico.pais.id})">{{musico.pais.nombre}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="musico-detail({id:musico.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="musico.edit({id:musico.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="musico.delete({id:musico.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
